:root {
  --fontPrimary: #ffffff;
  --fontSecondary: #f1f1f1;
  --fontThree: #152d41;
  --fontFour: #000000;
  --fontSize-basic: 18px;
  --fontSize-larg: 24px;
  --lineHeight: 21px;
  --fontBold: 700;
  --fontLigh: 400;
  --backgroundOne: #f1f1f1;
  --backgroundTwo: #4e4e4e;
  --backgroundThree: #405d78;
  --active-box: #e07a64;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 98%;
  margin: 0 auto;
}
.navigaton {
  background-color: var(--backgroundTwo);
  color: var(--fontPrimary);
  padding: 15px 0;
}
.nav-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: var(--fontSize-basic);
}
.menu {
  display: none;
}
.menu-link {
  text-decoration: none;
  color: var(--fontPrimary);
}
.landingPage {
  height: 100vh;
  background-image: url(d869216e199c4faf8b78918e652e7719.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--fontPrimary);
}
.landingPage-wrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landingPage-title {
  width: 360px;
  margin-bottom: 50px;
  font-size: calc(var(--fontSize-basic) * 2);
  line-height: calc(var(--lineHeight) * 2);
}
.landingPage-content {
  margin-bottom: 50px;
  font-size: var(--fontSize-basic);
  font-weight: var(--fontBold);
}
.landingPage-link {
  border: 2px solid white;
  color: white;
  text-decoration: none;
  max-width: 50px;
  padding: 5px 45px;
  font-size: var(--fontSize-basic);
  border-radius: 2px;
  transition: 0.1s;
}
.about-wrapper {
  width: 90%;
  margin: 0 auto 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-title {
  padding-top: 50px;
  font-size: calc(var(--fontSize-basic) * 2);
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.picture {
  width: 40%;
  aspect-ratio: 1;
  background-color: darkcyan;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
.person-name {
  margin-bottom: 20px;
  font-weight: var(--fontBold);
  font-size: var(--fontSize-basic);
}
.person-description {
  text-align: justify;
  font-size: var(--fontSize-basic);
  font-weight: var(--fontLigh);
}

.offer {
  background-color: var(--backgroundThree);
}
.offer-wrapper {
  width: 90%;
  margin: 0 auto;
}
.offer-title {
  padding: 50px 0 50px 0;
  color: var(--fontPrimary);
}
.offer-cards-box {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 30px;
  padding-bottom: 50px;
}
.offer-card {
  width: 65%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundOne);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
}

.card-content {
  font-size: var(--fontSize-larg);
}

.newest-offer::before {
  content: "";
  width: 22px;
  height: 22px;
  background-color: var(--active-box);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  translate: -50% -50%;
}

.offer-new {
  font-size: var(--fontSize-basic);
}

.footer {
  background-color: var(--backgroundTwo);
  color: var(--fontPrimary);
  padding: 30px 0;
}
.footer-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.company-name {
  text-align: center;
  font-size: var(--fontSize-basic);
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  color: var(--fontPrimary);
  font-size: 30px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }

  .logo {
    font-weight: var(--fontBold);

    line-height: var(--lineHeight);
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .menu-list-items {
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    font-weight: var(--fontLigh);
    padding-left: 30px;
  }

  [disabled] {
    cursor: not-allowed;
  }
  .landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .landingPage-title {
    font-weight: var(--fontBold);

    text-wrap: wrap;
    width: 577px;
    margin-bottom: 50px;
  }

  .landingPage-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }

  .about-wrapper {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .about-title {
    font-weight: var(--fontBold);
    color: var(--fontThree);
    font-size: calc(var(--fontSize-basic) * 2);
    margin-bottom: 25px;
    padding-top: 25px;
  }

  .person {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 25px;
  }
  .person-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .person:nth-child(even) {
    flex-flow: row-reverse;
  }
  .picture {
    width: 22%;
    min-width: 22%;
    aspect-ratio: 1;
    margin-bottom: 0;
  }
  .person-name {
    font-weight: var(--fontBold);
    line-height: var(--lineHeight);
    margin-bottom: 25px;
  }
  .person-description {
    margin-bottom: 0;
    font-size: var(--fontSize-basic);
    line-height: var(--lineHeight);
    color: var(--fontFour);
  }

  .offer {
    height: 698px;
  }
  .offer-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .offer-title {
    padding-top: 30px;
    margin-bottom: 30px;
    font-weight: var(--fontBold);
    font-size: calc(var(--fontSize-basic) * 2);
  }
  .offer-cards-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-items: center;
  }
  .offer-card {
    width: 158px;
    height: 153.78px;
  }

  .card-content {
    font-size: var(--fontSize-larg);
    margin: 0;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  .footer-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .company-name {
    font-size: var(--fontSize-basic);
    font-weight: var(--fontBold);
    line-height: var(--lineHeight);
  }
  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 960px;
  }

  .logo {
    font-weight: var(--fontBold);
    line-height: var(--lineHeight);
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .menu-list-items {
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    font-weight: var(--fontLigh);
    padding-left: 30px;
  }

  .notAllowed {
    cursor: not-allowed;
  }

  .landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .landingPage-title {
    font-weight: var(--fontBold);

    text-wrap: wrap;
    width: 577px;
    margin-bottom: 50px;
  }

  .landingPage-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }

  .about-wrapper {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .about-title {
    font-weight: var(--fontBold);
    color: var(--fontThree);
    font-size: calc(var(--fontSize-basic) * 2);
    margin-bottom: 50px;
  }

  .person {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .person-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .person:nth-child(even) {
    flex-flow: row-reverse;
  }
  .picture {
    width: 22%;
    min-width: 22%;
    aspect-ratio: 1;
    margin-bottom: 0;
  }
  .person-name {
    font-weight: var(--fontBold);
    line-height: var(--lineHeight);
    margin-bottom: 25px;
  }
  .person-description {
    margin-bottom: 0;
    font-size: var(--fontSize-basic);
    line-height: var(--lineHeight);
    color: var(--fontFour);
  }

  .offer {
    height: 698px;
  }
  .offer-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .offer-title {
    padding-top: 50px;
    margin-bottom: 80px;
    font-weight: var(--fontBold);
    font-size: calc(var(--fontSize-basic) * 2);
  }
  .offer-cards-box {
    width: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-items: center;
  }
  .offer-card {
    width: 198px;
    height: 193.78px;
  }

  .card-content {
    font-size: var(--fontSize-larg);
    margin: 0;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  .footer-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .company-name {
    font-size: var(--fontSize-basic);
    font-weight: var(--fontBold);
    line-height: var(--lineHeight);
  }
  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 28px;
  }
}

@media (hover: hover) {
  .landingPage-link:hover {
    background-color: var(--backgroundOne);
    color: var(--fontFour);
    opacity: 0.9;
  }
  .offer-card {
    position: relative;
  }
  .offer-card:hover {
    transform: scale(1.05);
  }
}
