:root {
  --fontPrimary: #ffffff;
  --fontSecondary: #f1f1f1;
  --fontThree: #152d41;
  --fontFour: #000000;
  --fontBold: 700;
  --fontLigh: 400;
  --backgroundOne: #f1f1f1;
  --backgroundTwo: #4e4e4e;
  --backgroundThree: #405d78;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
}
.navigaton {
}
.logo {
}
.menu {
}
.menu-list {
}
.menu-list-items {
}
.landingPage {
  height: 100vh;
  background-image: url(/d869216e199c4faf8b78918e652e7719.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.section-title {
}
.landingPage-content {
}
.landingPage-link {
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 5px 45px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.about {
}
.about-content {
}
.person {
}
.picture {
}
.person-name {
}
.person-description {
}

.offer {
}
.offer-cards-box {
}
.offer-card {
}
.footer {
}
.company-name {
}
.icons {
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .wrapper {
  }
  .navigaton {
    display: flex;
    justify-content: space-between;
  }
  .logo {
  }
  .menu {
  }
  .menu-list {
    display: flex;
  }
  .menu-list-items {
  }
  .landingPage {
  }
  .section-title {
  }
  .landingPage-content {
  }
  .landingPage-link {
  }
  .about {
  }
  .about-content {
  }

  .person {
    display: flex;
  }

  .person:nth-child(even) {
    flex-flow: row-reverse;
  }
  .picture {
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    border-radius: 50%;
  }
  .person-name {
  }
  .person-description {
  }

  .offer {
  }
  .offer-cards-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-items: center;
  }
  .offer-card {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
  }
  .footer {
    height: 100px;
    background-color: bisque;
  }
  .company-name {
  }
  .icons {
  }
}
